*{
    margin:0;
    padding:0;
    width: 100%;
}

html{
    font-size: 62,5%;
}

li{
    list-style: none;
}

/* .main{
    height:100%;
} */

h2,h3{
    padding: 0rem;
}

.btn{
    width: 10rem;
    color:black;
}
nav{
    background-color: yellow;
    height: 5rem;
}


a{
    text-decoration:none;
    font-weight: bold;
    color:black;
}

p{
    size: 10rem;
}


.header_menu__ul{
    list-style: none;
    display:flex;
    font-size: xx-large;
    text-align:center;
    background-color: yellow;

}

.contenedor_img{
    border: 1px solid black;
    padding:0;
    width: 25rem;
    margin: 3rem;
    height: 35rem;
    text-align: center;
    font-size:large;
    background-color:white;
    text-decoration-color:black ;
}

.bebidas{
    border: 1px solid black;
    padding:0;
    margin: 1rem;
    height: 17rem;
    text-align: center;
    font-size:large;
    background-color:white;
    text-decoration-color:black ;
}

.salsas{
    border: 1px solid black;
    padding:0;
    margin: 1rem;
    height: 18rem;
    text-align: center;
    font-size:large;
    background-color:white;
    text-decoration-color:black ;


}

.img_salsas{
    height: 9rem;
    width: 10rem;
}

.body{
    background-color: black;
    height: 100%;
    
}

.h2{
    padding:1rem;
    color: white;
} 

.img_inicio{
    height: 30rem;
    width: 40rem;
}
.img_bebidas{
    height: 7rem;
    width: 7rem;
}


.navbar-toggler{
    padding: 0;
}
ul{
    padding:0rem;
    margin: 0rem;
}

footer{
    background-color: yellow;
    height: 4rem;
}

.footer_ul{
    display:flex;
    list-style: none; 
   /*  font-size:xx-large;  */  
}

.footer_ul__li{
    width: 4rem;
}
           /*  responsive mobile */

@media(max-width: 400px){
    .contenedor_img{
        height:35rem;
        margin: 2rem;
    }
    .bebidas{
    height:17rem;
    width: 10rem;
    margin: 1rem;
   }
    .header_menu__ul{
        font-size:small;
        text-align: center;
    }
    .container{
        margin-bottom: 3rem;
    }
    .nav-link{
        color:white;
        font-weight: bold;
        /* -webkit-text-stroke: 0.5px yellow; */
    }
    .nav-item{
        background: rgba(78, 77, 77, 0.4);
        /* opacity: 0.5 ; */
    }
    .footer_ul__li{
        width: 2rem;
    }
    footer{
        height: 2rem;
    }

    .row{
        --bs-gutter-x:0rem;
    }

}
