*{
    margin:0;
    padding:0;
    width: 100%;
}

html{
    font-size: 62,5%;
}

li{
    list-style: none;
}

h2,h6{
    padding: 1rem;
}

nav{
    background-color: yellow;
    height: 5rem;
}

a{
    text-decoration:none;
    font-weight: bold;
    color:black;
}

p{
    size: 10rem;
}

ul{
    padding:0rem;
    margin: 0rem;
}

footer{
    background-color: yellow;
    height: 4rem;
}

.header_menu__ul{
    list-style: none;
    display:flex;
    font-size: xx-large;
    text-align:center;
    background-color: yellow;
}

.contenedor_img{
    padding:0;
    width: 15rem;
    margin: 3rem;
    height: 30rem;
    text-align: center;
    font-size:large;
    background-color:white;
    text-decoration-color:black ;
}

.img_inicio{
    height: 15rem;
    width: 15rem;
}


.contenedor_bebidas{
    padding:0;
    margin: 2rem;
    height: 25rem;
    width: 20rem;
    text-align: center;
    font-size:large;
    background-color:white;
    text-decoration-color:black ;
}

.img_bebidas{
    height: 15rem;
    width: 15rem;
}

.contenedor_salsas{
    padding:0;
    margin: 1rem;
    height: 18rem;
    text-align: center;
    font-size:large;
    background-color:white;
    text-decoration-color:black ;

}

.img_salsas{
    height: 10rem;
    width: 10rem;
}

.btn{
    width: 10rem;
    color:black;
}

.body{
    background-color: black;
}

.h2{
    padding:1rem;
    color: white;
} 

.col-1{
    width:17rem;
}

.navbar-toggler{
    padding: 0;
}

.footer_ul{
    display:flex;
    list-style: none;  
}

.footer_ul__li{
    width: 4rem;
}
                                        /*  responsive mobile */

@media(max-width: 400px){
    .contenedor_img{
        height:30rem;
        margin: 2rem;
    }

    .contenedor_bebidas{
        height:17rem;
        width: 10rem;
        margin: 1rem;
    }

    .img_bebidas{
        height: 9rem;
        width: 9rem;
    }

    .contenedor_salsas{
        width: 10rem;
        padding:0;
        margin: 1rem;
        height: 18rem;
    }

    .header_menu__ul{
        font-size:small;
        text-align: center;
    }

    .container{
        margin-bottom: 3rem;
    }

    .nav-link{
        color:white;
        font-weight: bold;
    }

    .nav-item{
        background: rgba(78, 77, 77, 0.4);
    }

    .footer_ul__li{
        width: 2rem;
    }

    footer{
        height: 2rem;
    }

    .row{
        --bs-gutter-x:0rem;
    }
}
